# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Environment variables
.env

# Databases
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Frontend
node_modules/
dist/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log